@import "../../../styles/button";

@include buttonStyles();

.courses-panel {
  max-width: 400px;
  margin: 0 auto;
}

button {
  margin-right: 10px;
}

h3{
  margin-bottom: 10px;
  text-align: center;
}

