<div class="courses-panel">

  <h3>Курсы</h3>

  <button class="btn" (click)="onAddCourse()">
    Добавить курс
  </button>

  <button class="btn" (click)="onToObservableExample()">
    To observable
  </button>

  <mat-tab-group>

    <mat-tab label="Начальные">

      <courses-card-list [courses]="beginnerCourses()" 
        (courseUpdated)="onCourseUpdated($event)"
        (courseDeleted)="onCourseDeleted($event)">
      </courses-card-list>

    </mat-tab>

    <mat-tab label="Продвинутые">

      <courses-card-list [courses]="advancedCourses()"
        (courseUpdated)="onCourseUpdated($event)"
        (courseDeleted)="onCourseDeleted($event)">
      </courses-card-list>

    </mat-tab>

  </mat-tab-group>

</div>
