<loading/>

<div class="edit-course-form" [formGroup]="editCourseDialogueForm">

  <h3>{{ data.title }}</h3>

  <div class="form-control">
    <label>Название курса:</label>
    <input placeholder="Введи название"
      formControlName="title">
  </div>

  <div class="form-control">
    <label>Описание курса:</label>
    <textarea placeholder="Введи описание"
      formControlName="longDescription">
    </textarea>
  </div>

  <div class="form-control">
    <label>Категория:</label>
    <select formControlName="category">
      <option value="BEGINNER">Начальные</option>
      <option value="INTERMEDIATE">Средние</option>
      <option value="ADVANCED">Продвинутые</option>
    </select>
  </div>

  <div class="form-control">
    <label>Картинка курса:</label>
    <input placeholder="Введи адрес картинки"
      formControlName="iconUrl">
  </div>

  <div class="form-actions">

    <button class="btn" (click)="onSave()" >
      Save
    </button>

    <button class="btn" (click)="onCancel()">
      Cancel
    </button>

  </div>

</div>
